body .logo {
  max-width: 350px;
  margin: 0 auto; }
body h3 {
  font-size: 1.5em; }
body label.h3 {
  font-size: 1.3em; }
body .row {
  padding: 0;
  margin: 0; }
body .container-fluid .row:nth-of-type(2) h1 {
  font-size: 60px;
  font-weight: 600;
  margin: 50px 0; }
body input, body textarea {
  border: 1px solid black !important;
  border-radius: 0 !important; }
body .row > .col-xs-12 .btn {
  border-radius: 0;
  font-size: 20px;
  margin: 50px 0 50px 50px; }
body .container .row .h1 {
  font-weight: 600; }
body .container .table-responsive {
  margin-bottom: 100px; }
  body .container .table-responsive table:first-of-type {
    min-width: 700px;
    margin: 0 auto; }
    body .container .table-responsive table:first-of-type thead th {
      padding: 10px 0;
      background-color: #333333;
      color: white;
      border: 1px solid white; }
    body .container .table-responsive table:first-of-type tbody tr td {
      height: 50px;
      border: 1px solid black; }
body .container .table-two {
  margin: 0 auto;
  margin-bottom: 50px; }
  body .container .table-two td {
    width: 200px;
    border: 1px solid black;
    padding: 10px 20px;
    font-weight: 600; }
    body .container .table-two td span:first-of-type {
      text-align: left; }
body .tel {
  font-weight: 600; }
  body .tel .h3:first-of-type {
    text-align: left;
    font-weight: 600; }
  body .tel .h3:last-of-type {
    text-align: right;
    font-weight: 600; }
body .bank {
  margin-top: 30px;
  margin-bottom: 100px; }
  body .bank .h3 {
    display: inline-block;
    width: 450px;
    line-height: 40px; }
  body .bank .check {
    display: inline !important;
    width: 30px;
    height: 20px; }
  body .bank button.btn {
    margin-top: 20px !important; }
body .bttn {
  text-align: right;
  margin-bottom: 100px; }
  body .bttn .btn {
    margin: 0 !important;
    margin-bottom: 20px !important;
    width: 170px; }

.btn_round {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.5em;
  line-height: 23px;
  padding-right: -3px;
  position: relative;
  top: -20px; }

@media (max-width: 800px) {
  .container-fluid .row:last-of-type > .col-xs-12 {
    text-align: center; }
    .container-fluid .row:last-of-type > .col-xs-12 .btn {
      font-size: 20px;
      margin: 50px 0; }

  .col-md-offset-5 {
    text-align: center; }
    .col-md-offset-5 h3 {
      font-size: 20px !important; }

  .tel .h3 {
    text-align: left !important; }

  .bttn {
    text-align: center !important; }
    .bttn .btn {
      width: 200px !important; } }
@media (max-width: 990px) {
  .col-md-offset-5 {
    text-align: center; } }
@media (max-width: 500px) {
  .container-fluid .row > .col-xs-12 .btn {
    font-size: 18px !important;
    margin: 50px 0; }

  .bank .h3 {
    display: inline-block;
    width: 300px !important;
    line-height: 40px; }

  .container-fluid .row:nth-of-type(2) h1 {
    font-size: 40px !important; }

  .h1 {
    font-size: 20px !important; }

  .col-md-offset-5 {
    text-align: center; }
    .col-md-offset-5 h3 {
      font-size: 18px !important; } }
@media (max-width: 350px) {
  .container-fluid .row > .col-xs-12 .btn {
    font-size: 11px !important;
    margin: 50px 0; }

  .bank {
    text-align: center; }
    .bank .h3 {
      display: inline-block;
      width: 200px !important;
      line-height: 40px;
      text-align: center; } }

/*# sourceMappingURL=invoice.css.map */
